.bookmarks-list {
  margin: auto;
  margin-top: 10px;
  display: table;
  text-align: center;
}

.bookmarks-list .bookmark-row.bookmark-row-header > div{
  background: whitesmoke;
  text-align: center;
  font-weight: bolder;
}

.bookmarks-list .bookmark-row {
  display: table-row;
}

.bookmarks-list .bookmark-row > div {
  display: table-cell;
  background: silver;
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  text-align: left;
}

.bookmarks-list .bookmark-row .tag {
  border: 1px solid black;
  display: inline-block;
  margin-right: 1px;
  padding: 1px;
  background: whitesmoke;
}
